<section id="footer">
  <div class="container">
    <div class="row text-center text-xs-center text-sm-left text-md-left">
      <div class="col-xs-12 col-sm-4 col-md-4">
        <h5>Quick links</h5>
        <ul class="list-unstyled quick-links">
          <li><a href="/"><i class="fa fa-angle-double-right"></i>Home</a></li>
          <li><a href="Wclothes"><i class="fa fa-angle-double-right"></i>Women's clothes</a></li>
          <li><a href="Mclothes"><i class="fa fa-angle-double-right"></i>Men's clothes</a></li>
          <li><a href="Beauty"><i class="fa fa-angle-double-right"></i>Beauty</a></li>
          <li><a href="Accessories"><i class="fa fa-angle-double-right"></i>Accessories</a></li>
        </ul>
      </div>

    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
        <ul class="list-unstyled list-inline social text-center">
          <li class="list-inline-item"><a href="https://www.facebook.com/GUCCI/"><i class="fa fa-facebook"></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/gucci"><i class="fa fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/gucci/"><i class="fa fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="https://www.youtube.com/c/gucci"><i class="fa fa-youtube-play"></i></a></li>
          <li class="list-inline-item"><a href="https://pinterest.com/gucci/"><i class="	fa fa-pinterest"></i></a></li>
        </ul>
      </div>
      <hr>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
        <p>© 2016 - 2020 Guccio Gucci S.p.A. - All right Reversed.<a class="text-green ml-2" href="https://www.sunlimetech.com" target="_blank">Sunlimetech</a></p>
      </div>
      <hr>
    </div>
  </div>
</section>
<!-- ./Footer -->
