
<nav class="navbar navbar-expand-lg bg-black navbar-dark" style="background-color: black">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/img/logo.png" height="28" alt="Gucci" >
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent"  >
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Wclothes">Women's clothes</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Beauty">Beauty </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Mclothes">Men's clothes </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/Accessories">Accessories </a>
      </li>

    </ul>
    <form class="form-inline my-2 my-lg-0" >
      <a class="btn btn-outline-light" routerLink="/Login">Sign in</a>
    </form>
    <form class="form-inline my-2 my-lg-0" >
      <a class="btn btn-outline-light" routerLink="/Register">Sign up</a>
    </form>
  </div>
</nav>
