
<div class="container marketing">
<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">About Gucci</h2>
    <p class="lead">Progressive, influential and innovative, Gucci offers a radically modern take on fashion. Under the visionary leadership of Creative Director Alessandro Michele, he refurbished 21st century luxury and solidified its position as one of the world's most prestigious fashion houses. Versatile, contemporary and romantic, Gucci products embody the quintessential Italian craftsmanship and unrivaled quality and attention to detail.

      Gucci is part of the Kering Group, a global leader in apparel and accessories, with a range of major brands in the luxury, sportswear and designer brands.

      Explore the stories behind Alessandro Michele's collections in the exclusive Stories section.</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="/assets/img/img1.jpg" alt="Generic placeholder image"
    height="800px" width="700px">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading">Women's Gucci clothes </h2>
    <p class="lead">In the new Gucci collection, Alessandro Mikkeli took office style as a basis. And it is known that many stars choose Gucci. Since here you can see not only different dresses, etc., but also different trouser suits, which are currently a trend. Gucci is chosen by such stars as Jenny, Selena Gomez, Ariana Grande and so on.
      {{num1 | percent}} of all woman celebrities choose Gucci.</p>
    <a href="Wclothes" class="btn btn-dark" role="button" >Women's Clothes</a>
  </div>
  <div class="col-md-5 order-md-1">
    <img class="featurette-image img-fluid mx-auto" src="/assets/img/img4.jpg" alt="Generic placeholder image" height="800px" width="700px">
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading">Men's Gucci Clothes </h2>
    <p class="lead">The biggest surprise on Gucci’s fall 2020 men’s runway in Milan today wasn’t the lack of prints or the retro, boyish silhouettes, but the slogan written on the front of a simple white tee: “impotent/impatient.” The shirt was part of double-printed motif inspired by punk musician Richard Hell that also included a T-shirt that read, “thank/think.” Will men sport a top advertising impotency?

      In Alessandro Michele’s new world of menswear, proclaiming oneself impotent (or impatient, for that matter) isn’t something to be ashamed of. Notes for the collection spoke of a rejection of toxic masculinity and an embrace of a genderless form of beauty.
      {{num2 | percent}} of all celebrities chjjse Gucci.</p>
    <a href="Mclothes" class="btn btn-dark" role="button" >Men's Clothes</a>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" src="/assets/img/img6.jpg" alt="Generic placeholder image" height="800px" width="700px">
  </div>
</div>

<hr class="featurette-divider">

<!-- /END THE FEATURETTES -->

</div><!-- /.container -->

